- @title = "Welcome"

= render "layouts/simple_header"

- if current_user
  .jumbotron.jumbotron-accent.jumbotron-shadow
    .text-center
      %strong= current_user.name
- else
  .jumbotron.jumbotron-accent.jumbotron-shadow.text-center
    = link_to "Sign In", new_user_session_path, class: "btn btn-accent btn-lg"
    = link_to "Register", new_user_registration_path, class: "btn btn-accent btn-lg"
