.move-video-container {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
  margin: 0 0 20px;
}

@media screen and (min-width: $screen-sm-min) {
  .move-video-container {
    margin: 20px 0 40px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .move-video-container {
    margin: 20px 80px 60px;
  }
}
