- @title = "#{@tag.name_was} Edit"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = link_to @tag.name_was, @tag
        Edit

.dashboard-container= render 'form', tag: @tag
