%h1= @tag.name

= link_to 'Edit', edit_tag_path(@tag), class: 'btn btn-xs btn-default'
= link_to 'Back', tags_path, class: 'btn btn-xs btn-default'

%p
  %strong Moves
  %ul
    - @tag.moves.each do |move|
      %li= link_to move.name, move

